#title {
    background-color: yellowgreen;
    text-align: center;
    color: brown;
    font-size: 50px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.list {
    background-color: yellowgreen;
    color: brown;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;   
}

.picture {
    width: 500px;
}

.center {
    background-color: yellowgreen;
    text-align: center;
    color: brown;
    font-size: 20px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main {
    background-color: yellowgreen;
    color: brown;
    font-family: Georgia, 'Times New Roman', Times, serif;
}