* {
    background-color: rgb(60, 200, 100);
    margin: 0;
}

body {
    margin: 20px;
}

#title {
    text-align: center;
    color: brown;
    font-size: 70px;
    font-weight: bold;
    padding: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.list {
    color: brown;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;   
}

.picture {
    width: 500px;
    margin: auto;
    display: block;
}

.center {
    text-align: center;
    color: brown;
    font-size: 25px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main {
    color: brown;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
